.feed {
    grid-area: 2 / 1 / 3 / 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    margin: 20px;
}
.feed-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}
.button-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}
.feed-label {
    display: flex;
    justify-content: space-between;
    margin-block: 20px;
    font-family: 'Poppins', sans-serif;
    color: var(--light-purple);
    font-size: 20px;
}
.feed-input {
    margin-left: 10px;
    padding-block: 5px;
    padding-inline: 10px;
    width: 80px;
    background-color: var(--purple);
    color: var(--pink);
    border: none;
    border-radius: 5px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 20px;
}
.feed-input:focus {
    outline: 2px solid var(--pink);
}
.checkbox-label {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: var(--dark-purple);
    user-select: none;
    padding-inline: 20px;
    padding-block: 5px;
    border-radius: 5px;
}
.checkbox-label:hover {
    background-color: var(--purple);
}
.checked {
    background-color: var(--light-purple);
}
.unchecked {
    background-color: var(--pink);
}
.checkbox-image {
    margin-inline: 10px;
}
.checkbox {
    display: none;
}
.go {
    display: inline;
    background-color: var(--blue);
    border: none;
    border-radius: 5px;
    width: 100px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 20px;
}
.go:hover {
    color: var(--pink);
    border: 2px solid var(--pink);
}
@media (max-width: 800px) {
    .feed {
        align-items: center;
    }
}
@media (max-width: 400px) {
    .button-wrapper {
        flex-direction: column;
        align-items: center;
    }
    .checkbox {
        margin-top: 20px;
    }
    .go {
        margin-top: 20px;
    }
}