.header {
    grid-area: 1 / 1 / 2 / 3;
    display: grid;
    place-items: center;
}
.heading {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 30px;
    color: var(--pink);
}
@media (max-width: 500px) {
    .header {
        height: 100px;
    }
}