.footer {
    grid-area: 3 / 1 / 4 / 3;
    display: grid;
    place-items: center;
    flex-shrink: 0;
}
.footing {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    color: var(--pink);
}
.footing > strong > a {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    color: var(--pink);
    text-decoration: none;
}
@media (max-width: 800px) {
    .footer {
        height: 100px;
    }
}