@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap');
html, body {
    --dark-purple: #1B1725;
    --purple: #534B62;
    --light-purple: #A499B3;
    --pink: #D0BCD5;
    --blue: #226CE0;
    background-color: var(--dark-purple);
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}